.class img{
    height: 160px;
    width: 150px;
    box-sizing: border-box;
    position: static;
}
.class{
    background-color: #8a91ac;
}
ion-title{
    font-weight: bold;
    font-family: Georgia;
    font-size: 30px;
}
ion-toolbar{
    color: black;
}
