<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      GALLERY
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="class">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Gallery</ion-title>
    </ion-toolbar>
  </ion-header>
    <center>
    <br>
    <img src="../../assets/leahmae/4.jpeg" >
    <img src="../../assets/leahmae/2.jpeg" >
    <img src="../../assets/leahmae/5.jpeg" >
    <img src="../../assets/leahmae/6.jpeg" >
    <img src="../../assets/leahmae/7.jpeg" >
    <br>
    <img src="../../assets/leahmae/8.jpeg" >
    <img src="../../assets/leahmae/9.jpeg" >
    <img src="../../assets/leahmae/10.jpeg" >
    <img src="../../assets/leahmae/11.jpeg" >
    <img src="../../assets/leahmae/1.jpeg" >
    <br>
    <img src="../../assets/leahmae/12.jpeg" >
    <img src="../../assets/leahmae/13.jpeg" >
    <img src="../../assets/leahmae/14.jpeg" >
    <img src="../../assets/leahmae/14.jpeg" >
    <img src="../../assets/leahmae/15.jpeg" >
  </center>
</div>
</ion-content>
