ion-title{
    font-weight: bold;
    font-family: Georgia;
    font-size: 30px;
}
ion-toolbar{
    color: black;
}
p{
    font-size: 20px;
}
ion-header{
    color: rgb(14, 56, 56);
}
.profile img{
    width: 160px;
    height: 150px;
    border-radius: 90px;
    top: 5x;
    border: 2px solid rgb(39, 34, 51);
}
.profile{
    background-color: #8a91ac;
}