<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      PROFILE
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Profile</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="profile">
    <br>
    <center><img src="../../assets/leahmae/1.jpeg"></center>
    <center><h2><strong>Leah Mae Panis</strong></h2>
    <p>Studies Bachelor of Science in Information Technology at <strong> Eastern Visayas State University - Carigara Campus</strong></p>
    <p><strong>Lives</strong> in Barugo, Leyte</p>
    <p><strong>Gender:</strong> Female</p>
    <p><strong>Date of Birth:</strong> February 07, 2000</p>
    <p><strong>Age:</strong>21</p>
    <p><strong>Relationship Status:</strong> Single</p>
    <br>
  </center>
  </div>
</ion-content>
