<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      CONTACT
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Contacts</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="contact">
    <center>
    <br><br>
    <img src="../../assets/leahmae/call.jpg" >Mobile no. 09513707900
    <br><br>
    <img src="../../assets/leahmae/message.png" >Email.: leahmaepanis04@gmail.com
    <br><br>
    <img src="../../assets/leahmae/fb.png" >Facebook: Leah Mae Landrito
    <br><br>
    <img src="../../assets/leahmae/insta.jpg" >Ig: leahmaelandrito
    <br><br><br><br>
  </center>
  </div>
</ion-content>