ion-title{
    font-weight: bold;
    font-family: Georgia;
    font-size: 30px;
}
ion-toolbar{
    color: black;
}
.contact img{
    height: 70px;
    width: 70px;
    box-sizing: border-box;
    position: static;
}
.contact{
    background-color: #8a91ac;
    font-family: georgia;
    font-size: 25px;
}